@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Cairo", ui-sans-serif, system-ui, sans-serif;
  --font-arabic: "Cairo", sans-serif;
  
  --color-success: #10b981;
  --color-brand-primary: #0f172a; /* Deep charcoal for high-end feel */
  --color-brand-accent: #f59e0b;  /* Vibrant amber for action items */
}

@layer base {
  body {
    @apply font-sans text-slate-900 antialiased bg-white;
  }
  
  /* Support for Right-To-Left if needed in the future */
  [dir="rtl"] {
    @apply font-arabic;
  }
}
